@import './base.css';

#app {
  position: fixed;
  font-weight: normal;
  z-index: 2;
}

#application-canvas{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

body {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}